    {% for type in attribute.type %}case {{type}} value of
    {% for n in range(loop.index) %}    {% endfor %}Right x -> elem { _{{attribute.name}} = {% if attribute.default == None %}Just ({% endif %}{{loop.index|toWord}}Of{{attribute.type |length}} x{% if attribute.default == None %}){% endif %}}
    {% for n in range(loop.index) %}    {% endfor %}Left _ -> {% endfor %}Left $ "Invalid attribute value " ++ value ++ " for attribute {{attribute.name}} for element {{element.name}}"